.inner-image1{
  position: absolute;
  top: 400px;
  right : 962px;
  width: 325px;
  height: 325px;
  text-align: center;
}
  
.inner-image2{
  position: absolute;
  top: 400px;
  right : 597px;
  width: 325px;
  height: 325px;
  text-align: center;
}
  
.inner-image3{
  position: absolute;
  top: 400px;
  right : 232px;
  width: 325px;
  height: 325px;
  text-align: center;
}

.inner-image4{
  position: absolute;
  top: 765px;
  right : 962px;
  width: 325px;
  height: 325px;
  text-align: center;
}